html, body {
    height: 100%;
    margin-top: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
    padding: 0;
    overflow: hidden; /* Optional: Prevents scrolling if you want a clean, edge-to-edge design */
    background-color: #a984f5;
  }
  