<button (click)="openAddPostForm()">เพิ่มโพสต์</button>

<!-- แบบฟอร์มเพิ่มโพสต์ -->
<div *ngIf="isAdding" class="add-post-form">
  <h3>เพิ่มโพสต์ใหม่</h3>
  <label for="newTitle">หัวข้อ:</label>
  <input id="newTitle" [(ngModel)]="newPost.title" type="text" />
  
  <label for="newContent">เนื้อหา:</label>
  <textarea id="newContent" [(ngModel)]="newPost.content"></textarea>
  
  <!-- เลือกหมวดหมู่ -->
  <label for="category">หมวดหมู่:</label>
  <select id="category" [(ngModel)]="newPost.categoryId">
    <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
  </select>
  
  <button (click)="saveNewPost()">บันทึกโพสต์</button>
  <button (click)="cancelAddPost()">ยกเลิก</button>
</div>



<div *ngFor="let post of posts; let i = index">

  <div class="post-card">
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    <!-- ปุ่มแก้ไข -->
    <button (click)="editPost(post)">แก้ไขโพสต์</button>
    <button (click)="deletePost(post.id)">ลบโพสต์</button>
  </div>
</div>

<!-- แบบฟอร์มแก้ไขโพสต์ -->
<div *ngIf="isEditing" class="edit-post-form">
  <h3>แก้ไขโพสต์</h3>
  <label for="title">หัวข้อ:</label>
  <input id="title" [(ngModel)]="selectedPost.title" type="text" />
  <label for="content">เนื้อหา:</label>
  <textarea id="content" [(ngModel)]="selectedPost.content"></textarea>
  <button (click)="savePost()">บันทึกการแก้ไข</button>
  <button (click)="cancelEdit()">ยกเลิก</button>
</div>
