/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #a984f5;
  margin-top: 0px;
  margin-right: -10px;
  margin-bottom: 420px;
  margin-left: -10px;
}

/* Header Styling */
.header {
  background-color: #6332C6;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
}

/* Add Post Button */
.add-post-button {
  background-color: #6332C6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: -50px;
  margin-left: 20px;
  transition: background-color 0.3s;
}

.add-post-button:hover {
  background-color: #4e269c;
}

/* Post List */
.post-list {
  margin-top: 20px;
  padding: 20px;
}

.post-item {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-item h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #6332C6;
}

.post-item p {
  font-size: 1rem;
  color: #777;
}

/* Edit and Delete Buttons */
.edit-button, .delete-button {
  background-color: #6332C6;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover, .delete-button:hover {
  background-color: #4e269c;
}

/* Form Styles */
.post-form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: #6332C6;
  display: block;
  margin-bottom: 5px;
}

select, input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

textarea {
  height: 150px;
  resize: vertical;
}

/* File Input */
.file-input {
  display: block;
  margin-top: 10px;
}

/* Buttons inside the Form */
.save-button, .cancel-button {
  background-color: #6332C6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.save-button:hover, .cancel-button:hover {
  background-color: #4e269c;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }

  .post-form {
    padding: 20px;
  }

  .form-group {
    margin-bottom: 10px;
  }
}
